.button {
  font-family: 'Inter';
  line-height: 1.4;
  border-radius: 20px;
  padding: 19px 61px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid transparent;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

.button-primary {
  background-color: #ffdd2d;
  border-color: #ffdd2d;
  color: #00020e;
}

.button-primary:hover {
  border-color: rgba(102, 112, 128, 0.4);
  color: #667080;
}

.button-primary:focus {
  background-color: #ffe606;
  color: #00020e;
}

.button-outlined {
  background-color: #fff;
  border-color: rgba(102, 112, 128, 0.4);
  color: #667080;
}

.button-outlined:hover {
  background-color: #fff;
  border-color: #ffdd2d;
  color: #000;
}

.button-outlined:focus {
  background-color: #ffdd2d;
  border-color: rgba(102, 112, 128, 0.4);
  color: #000;
}

.button-link {
  padding: 0;
  border: 0;
  line-height: 1.2;
  color: #667080;
}

.section-button {
  margin-top: 30px;
  width: 100%;
  max-width: 300px;
}

.button-block {
  width: 100%;
  display: block;
}
