.footer-container {
  padding: 50px 0;
  background-color: #00020e;
  color: #fff;
}

.subscription-form-control {
  display: flex;
  flex-wrap: nowrap;
  border-radius: 20px;
  background: #fff;
  max-width: 387px;
  height: 46px;
  margin-bottom: 50px;
}

.subscription-input {
  flex-grow: 1;
  padding: 10px 26px;
  border: 0;
  color: #00020e;
  font-family: 'Inter';
  font-size: 15px;
  line-height: 1.4;
  background-color: transparent;
}

.subscription-input::placeholder {
  color: rgba(102, 112, 128, 0.4);
}

.subscription-input:focus {
  outline: none;
}

.subscription-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  outline: none;
  background-color: transparent;
  padding: 0 20px;
  cursor: pointer;
}

.footer-link:hover>svg>path {
  stroke: #ffdd2d;
}

.subscription-btn:hover>svg>path {
  stroke: #ffdd2d;
}