.gallery-container {
  scroll-margin-top: 200px;
  margin-bottom: 140px;
}

.gallery-row {
  display: flex;
  gap: 20px;
  justify-content: center;
  overflow: hidden;
}

.gallery-row+.gallery-row {
  margin-top: 20px;
}

#Gallery-mob {
  display: none;
}

@media (max-width: 992px) {
  #Gallery {
    display: none;
  }

  #Gallery-mob {
    display: block;
  }

  .gallery-container {
    margin-bottom: 50px;
  }

}