.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 0 0 auto;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

@media (max-width: 992px) {
  .row.mob {
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
  }
}