.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 0 0 auto;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.row-space-around {
  display: flex;
  justify-content: space-around;
  overflow-x: hidden;
  padding: 10px;
}

.grid {
  display: grid;
  grid-template-columns: 20% 20% 20% 40%;
  grid-gap: 30px;
}