.navbar-brand {
  color: #ffdd2d;
  font-size: 30px;
  font-style: italic;
  font-weight: 800;
  line-height: 1.4;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.navbar-collapse {
  flex-basis: 100%;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-link {
  display: flex;
  color: #fff;
  text-decoration: none;
  padding: 20px;
}

.nav-link-without-padding {
  padding: 0;
}

.nav-link:hover,
.nav-link:active {
  color: #ffdd2d;
  text-decoration: none;
}

.navbar-toggler {
  background-color: transparent;
  border: none;
}

.collapsing {
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}

.collapse:not(.show) {
  display: none;
}

@media (min-width: 992px) {
  .navbar .navbar-collapse {
    display: flex;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .navbar-collapse {
    flex-basis: auto;
  }

  .navbar-toggler {
    display: none;
  }
}
