.payment-form-section {
  margin-bottom: 130px;
}

.payment-form-title {
  margin-bottom: 20px;
}

.payment-form {
  max-width: 434px;
}

@media (max-width: 992px) {
  .payment-form-section {
    margin-bottom: 70px;
  }
}