.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  max-width: 590px;
  padding: 55px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
}

.popup-title {
  margin-bottom: 20px;
}

.popup-content {
  line-height: 1.6;
}

.popup-content .badge {
  display: inline-flex;
  margin-top: -6px;
}

.popup-button {
  margin-top: 20px;
  width: 100%;
  max-width: 260px;
}

@media (max-width: 992px) {
  .popup {
    background: none;
    backdrop-filter: none;
    padding: 15px;
  }

  .popup-button {
    max-width: 100%;
  }
}