.rating-section {
  margin-bottom: 80px;
}

.rating-title {
  margin-bottom: 5px;
}

.rating {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.rating-text {
  margin-left: 10px;
}

.rating-list {
  margin-bottom: 30px;
}

.rating-description {
  max-width: 350px;
}

@media (max-width: 992px) {
  .row {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .rating-section {
    margin-bottom: 40px;
  }
}