@import './common.css';
@import './grid.css';
@import './header.css';
@import './typography.css';
@import './fonts.css';
@import './intro.css';
@import './navbar.css';
@import './button.css';

/* City-info */
.city-img {
    border-radius: 30px;
}

.col-text {
    max-width: 488px;
}

.city-info {
    margin-bottom: 140px;
}

/* City-info */

/* Routs*/
.routs {
    margin-bottom: 140px;
}

.section-header {
    margin-bottom: 50px;
}

.card-img {
    width: 370px;
    height: 470px;
    border-radius: 30px;
}

.card {
    position: relative;
}

.overlay {
    position: absolute;
    top: 306px;
    width: 370px;
    height: 164px;
    border-radius: 0px 0px 30px 30px;
    background-color: rgba(32, 32, 32, 0.30);
    backdrop-filter: blur(2.5px);
    color: #fff;
}

.card-title {
    padding-left: 30px;
}

.card-list {
    display: flex;
    gap: 20px;
    list-style-type: none;
    align-items: center;
    padding-left: 30px;

}


.list-item1::before {
    content: '';
    display: inline-block;
    vertical-align: bottom;
    margin-right: 5px;
    width: 24px;
    height: 24px;
    background-image: url(../images/route-icon1.svg);
}

.list-item2::before {
    content: '';
    display: inline-block;
    vertical-align: bottom;
    margin-right: 5px;
    width: 24px;
    height: 24px;
    background-image: url(../images/route-icon2.svg);
}

.list-item3::before {
    content: '';
    display: inline-block;
    vertical-align: bottom;
    margin-right: 5px;
    width: 24px;
    height: 24px;
    background-image: url(../images/route-icon3.svg);
}

.list-button {
    background-color: transparent;
    border: none;
    vertical-align: bottom;
}

/* Routs */

/* Map */
.map {
    width: 100%;
    max-width: 100%;
    height: 723px;
    background-image: url(../images/map-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 140px;
    position: relative;
}

.map-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 590px;
    padding: 55px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(20px);
}

/* Map */

/* Gallery */
.gallery {
    margin-bottom: 140px;
}

.gallery-img {
    padding-right: 20px;
}

/* Gallery */

/* Footer */
.footer-container {
    background-color: #00020E;
    padding: 30px 0;
}

.list-info {
    color: #fff;
    list-style-type: none;
}

.footer-text {
    color: #fff;
}

.subscription-input-container {
    display: flex;
    justify-content: center;
}

.subscription-form-control {
    display: flex;
    flex-wrap: nowrap;
    border-radius: 20px;
    border: 2px solid #fff;
    background: #fff;
    width: 100%;
    max-width: 387px;
    margin-bottom: 30px;
}

.subscription-input {
    flex-grow: 1;
    padding: 10px 26px;
    border: 0;
    color: #00020E;
    font-family: 'Inter';
    font-size: 15px;
    line-height: 1.4;
    background-color: transparent;
}

.subscription-input::placeholder {
    color: rgba(102, 112, 128, 0.40);
}

.subscription-input:focus {
    outline: none;
}

.subscription-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    outline: none;
    background-color: transparent;
    padding: 0 20px;
}

.footer-text {
    padding: 20px 0;
}

.list-horizontal {
    display: flex;
    list-style-type: none;
    padding: 0;
}

ul.list-horizontal li {
    margin-right: 20px;
}

.info-li {
    color: #fff;
    text-decoration: none;
    padding: 20px;
}

/* Footer */